server {
    server_name curtmerrill.com; # managed by Certbot

    listen [::]:443 ssl ipv6only=on; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/curtmerrill.com/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/curtmerrill.com/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

    location /static {
        alias <staticfiles_root>;
    }

    location = /robots.txt {
        alias <staticfiles_root>/robots.txt;
    }

    location = /feeds/all.atom.xml {
        return 301 https://$host/blog/feed/;
    }

    location /posts {
        return 301 https://$host/blog;
    }

    # favicons
    location = /favicon.ico { alias <staticfiles_root>/img/favicon.ico; }
    location = /apple.png { alias <staticfiles_root>/img/apple.png; }
    location = /icon.svg { alias <staticfiles_root>/img/icon.svg; }
    location = /16.png { alias <staticfiles_root>/img/16.png; }
    location = /32.png { alias <staticfiles_root>/img/32.png; }
    location = /192.png { alias <staticfiles_root>/img/192.png; }
    location = /512.png { alias <staticfiles_root>/img/512.png; }
    location = /manifest.webmanifest { alias <staticfiles_root>/img/manifest.webmanifest; }

    location / {
        proxy_pass http://127.0.0.1:8088;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded_for $proxy_add_x_forwarded_for;
    }
}

server {
    if ($host = curtmerrill.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    listen 80 ;
    listen [::]:80 ;
    server_name curtmerrill.com;
    return 301 https://$host$request_uri;
}
