{% load static %}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}curtmerrill.com{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/icon.svg" type="image/svg+xml" sizes="any">
    <link rel="apple-touch-icon" href="/apple.png">

    <link rel="alternate" href="/blog/feed/" type="application/atom+xml" title="RSS">

    <link rel="dns-prefetch" href="//static.curtmerrill.com/">
{% block headscripts %}
{% endblock %}
</head>
<body>
    {% include 'symbols.html' %}
    <header class="site-header container" role="banner">
      <a class="site-name" href="/">curtmerrill.com</a>
    </header>
    <main class="container">
    {% block main %}
    {% endblock %}
    </main>
    <footer class="site-footer container">

      {% block footertop %}{% endblock %}

      <ul class="archive-list" role="list">
        <li><a class="plain" href="{% url 'blog_archive' %}">Archive</a></li>
        <li><a class="plain" href="/now/">/now</a></li>
        <li><a class="plain" href="/uses/">/uses</a></li>
        <li><a class="plain" href="https://xoxo.zone/@cmerrill">Mastodon</a></li>
        <li><a class="plain" href="https://bsky.app/profile/cmerrill.com">Bluesky</a></li>
      </ul>
      <p>&copy; Curt Merrill<br />
      <i title="He who endures, conquers">Vincit qui patitur</i></p>
    </footer>
{% block footerscripts %}
{% endblock %}

{% if request.headers.host == "curtmerrill.com" %}
  <script src="https://tinylytics.app/embed/zT5_DSZQFy5GUANLbQR1.js" defer></script>
{% endif %}
</body>

<script src="{% static 'js/main.js' %}"></script>

</html>
