{% extends "base.html" %}

{% block main %}
<h1 class="site-tagline">Words, code and miscellany</h1>

<article class="blog-post">
<header>
  <p class="post-meta">
    <span class="post-meta__date">
      {{ blog_post.published_at|date:"F j, Y" }}
    </span>
    {% if blog_post.series %}
    <a href="{{ blog_post.series.get_absolute_url }}" class="tag">{{ blog_post.series.name }}</a>
    {% endif %}

  </p>
  <h1 class="post-title"><a class="plain" href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a></h1>
</header>

{{ blog_post.body_html|safe }}

</article>

<h2>Previously</h2>
<ul class="archive-list" role="list">
{% for e in entries %}
  <li class="archive-list__entry">
    <a class="plain archive-list__link" href="{{ e.get_absolute_url }}">
      <span class="archive-list__date">{{ e.published_at|date:"Y M d" }}</span>
      <u>{{ e.title }}</u>
    </a>
  </li>
{% endfor %}
  <li class="archive-list__entry">
    <a class="plain archive-list__link" href="">
      <span class="archive-list__date">&nbsp;</span>
      <u>More </u>
    </a>
</ul>




{% endblock %}
