{% extends "base.html" %}

{% block main %}
<div class="container">
<h1 class="site-tagline">Words, code and miscellany</h1>
</div>

<article class="container">
<hgroup>
  <p class="meta">
      {{ blog_post.published_at|date:"F j, Y" }}
    {% if blog_post.series %}
    <a href="{{ blog_post.series.get_absolute_url }}" class="tag">{{ blog_post.series.name }}</a>
    {% endif %}
  </p>
  <h1><a class="plain" href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a></h1>
  {% if blog_post.subtitle %}<p class="subtitle">{{ blog_post.subtitle }}</p>{% endif %}
</hgroup>

{{ blog_post.body_html|safe }}

</article>

<div class="container">
  <hr/>
<h2>Previously</h2>
<ul class="archive-list" role="list">
{% for e in entries %}
    <li>
  <a class="plain" href="{{ e.get_absolute_url }}">
    <span class="archive-list__date">{{ e.published_at|date:"Y M d" }}</span>
    {{ e.title }}
  </a>
</li>
{% endfor %}
<li><a class="plain" href="{% url 'blog_archive' %}">More</a></li>
</ul>

</div>



{% endblock %}
