figure {
  margin-inline-start: 0;
  margin-block-start: 2rem;
  margin-block-end: 2rem;
}
figure.large {
  max-width: unset;
  margin-inline-end: var(--page-margin);
}
figure.full-width {
  max-width: unset;
  width: 100vw;
  margin-inline-start: calc(var(--page-margin) * -1);
  margin-inline-end: calc(var(--page-margin) * -1);
}

figcaption {
  font-size: .9em;
  line-height: 1.2;
  color: var(--c-gray-mid);
  max-width: 700px;
}

figure.full-width > figcaption {
  margin-inline-start: var(--page-margin);
}

figcaption:last-child {
  margin-block-start: .2em;
}

figcaption:first-child {
  margin-block-end: .2em;
}
