.site-header,
.site-footer {
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);
  flex-grow: 0;
  flex-shrink: 0;
}


.site-header {
  margin-bottom: 2rem;
  padding-top: .5em;
}
.site-name {
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  font-size: 1.4em;
}
a.site-name:visited {
  color: var(--c-blue);
}

.site-footer {
  margin-top: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  color: oklch(from var(--c-gray) 40% c h);
  background-color: oklch(from var(--c-gray) 90% c h );
  font-size: .85em;
}
