/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favor of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role,
   which suggests default styling will be removed
   Because if you add a class to a list, you also need to
   add the "role='list'"
*/
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.4;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

// prevent sub and sup tags from affecting line-height
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}

:root {
  --color-primary: oklch(53.12% 0.15 253.18); /* blue -- #1a6dc0 */
  --color-alt1: oklch(50.12% 0.15 39.53);     /* orange */
  --color-alt2: oklch(50.12% 0.15 309.79);    /* purple */

  --color-neutral-20: oklch(20% 0.005 253.18);      /* "black" */
  --color-neutral-95: oklch(95% 0.005 253.18);      /* "white" */

  --f-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --f-serif: Palatino, Georgia, Times, "Times New Roman", serif;
  --f-mono: "SF Mono", Consolas, monaco, monospace;


  /* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1240,20,1.333,5,1,&s=0.75,1.5|2|3|4,s-2xl&g=s,l,xl,12 */

  --step--1: clamp(0.8rem, 0.7521rem + 0.2395vw, 0.9377rem);
  --step-0: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
  --step-1: clamp(1.25rem, 1.1052rem + 0.7239vw, 1.6663rem);
  --step-2: clamp(1.5625rem, 1.3334rem + 1.1454vw, 2.2211rem);
  --step-3: clamp(1.9531rem, 1.6026rem + 1.7524vw, 2.9607rem);
  --step-4: clamp(2.4414rem, 1.9178rem + 2.6178vw, 3.9467rem);
  --step-5: clamp(3.0518rem, 2.2834rem + 3.842vw, 5.2609rem);


  /* @link https://utopia.fyi/space/calculator?c=320,16,1.25,1240,20,1.333,5,1,&s=0.75,1.5|2|3|4,s-2xl&g=s,l,xl,12 */

  --space-xs: clamp(0.75rem, 0.6848rem + 0.3261vw, 0.9375rem);
  --space-s: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
  --space-m: clamp(1.5rem, 1.3696rem + 0.6522vw, 1.875rem);
  --space-l: clamp(2rem, 1.8261rem + 0.8696vw, 2.5rem);
  --space-xl: clamp(3rem, 2.7391rem + 1.3043vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.6522rem + 1.7391vw, 5rem);

  /* One-up pairs */
  --space-xs-s: clamp(0.75rem, 0.5761rem + 0.8696vw, 1.25rem);
  --space-s-m: clamp(1rem, 0.6957rem + 1.5217vw, 1.875rem);
  --space-m-l: clamp(1.5rem, 1.1522rem + 1.7391vw, 2.5rem);
  --space-l-xl: clamp(2rem, 1.3913rem + 3.0435vw, 3.75rem);
  --space-xl-2xl: clamp(3rem, 2.3043rem + 3.4783vw, 5rem);

  /* Custom pairs */
  --space-s-2xl: clamp(1rem, -0.3913rem + 6.9565vw, 5rem);
}


body {
  color: var(--color-neutral-20);
  background: var(--color-neutral-95);

  border-top: 5px solid var(--color-primary);

  font-family: var(--f-sans);
  font-size: var(--step-0);
  -webkit-font-smoothing: antialiased;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

main { flex-grow: 1; }

h1, .h1 {
  font-size: var(--step-3);
}

h2, .h2 {
  font-size: var(--step-2);
}

h3, .h3 {
  font-size: var(--step-1);
}

h4, h5, h6 {
  font-size: var(--step-0);
}

p, li,
blockquote:not([class]) {
  max-width: 60ch;
}

h1, h2, h3 {
  max-width: 50ch;
  line-height: 1.2;
}

table {
  text-align: left;
}

small, .small {
  font-size: .8em;
}

.container {
  padding-inline-start: var(--space-s-2xl);
  padding-inline-end: var(--space-s-2xl);
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

a.plain { text-decoration: none; color: inherit; }

.light {
  color: oklch(from var(--color-neutral-95) 50% c h);
}

.sr-only {
  /* via Bootstrap: https://getbootstrap.com/docs/5.3/helpers/visually-hidden/ */
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.site-header {
  padding-block-start: var(--space-s);
  padding-block-end: var(--space-s);
}

.site-name {
  font-size: var(--step-2);
  font-weight: bold;
  font-style: italic;
}

a.site-name {
  text-decoration: none;
  color: var(--color-primary);
}

.site-tagline {
  font-size: var(--step-4);
  font-weight: 200;
  font-style: italic;
  color: oklch(from var(--color-neutral-20) 50% c h);
  margin: 0;
  margin-block-start: var(--space-s-m);
  margin-block-end: var(--space-l-xl);
  padding: 0;
}


.site-footer {
  margin-block-start: var(--space-xl-2xl);
  padding-block-start: var(--space-m-l);
  padding-block-end: var(--space-s-m);
  background-color: oklch(from var(--color-neutral-95) 90% c h);
}

.blog-post {
  margin-block-start: var(--space-2xl);
  margin-block-end: var(--space-2xl);
}

.blog-post > header {
  margin-block-start: 0;
  margin-block-end: var(--space-m-l);
}

.post-title {
  margin-block-start: var(--space-s);
}

.post-meta {
  margin-block-start: 0;

  color: oklch(from var(--color-neutral-20) 60% c h);

  display: flex;
  flex-direction: row;
  column-gap: var(--space-s-m);

}

.tag {
  background-color: oklch(from var(--color-neutral-95) 90% c h);
  color: oklch(from var(--color-neutral-20) 50% c h);
  border-radius: 5px;
  padding: 0 .75ch;
  text-decoration: none;
  font-size: var(--step--1);
  line-height: calc(var(--step-0) * 1.4);
}

.tag:hover {
  text-decoration: underline;
  color: unset;
}

.blog-post > hr {
  margin-block-start: var(--space-m);
  margin-block-end: var(--space-m);

  border-style: unset;
}


figure {
  container-type: inline-size;
  container-name: figure;

  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: var(--space-m);
  margin-block-end: var(--space-m);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  column-gap: var(--space-s);
  row-gap: var(--space-xs);
}

figure > *:first-child {
  width: 100%;
  max-width: 60ch;
}

figcaption {
  width: 100%;
  max-width: 60ch;
  color: oklch(from var(--color-neutral-20) 50% c h);
  font-size: var(--step--1);
}

@container figure (min-width: 80ch) {
  figcaption {
    width: unset;
    max-width: 30ch;
    flex: min-content;
  }
}

table {
  border-collapse: collapse;
}

td, th {
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
}

thead tr {
  border-bottom: 1px solid oklch(from var(--color-neutral-95) 60% c h);
  background-color: oklch(from var(--color-neutral-95) 90% c h);
}

tr:nth-child(even) {
  background-color: oklch(from var(--color-neutral-95) 97% c h);
}

tfoot tr {
  border-top: 1px solid oklch(from var(--color-neutral-95) 60% c h);
  background-color: oklch(from var(--color-neutral-95) 90% c h);
}

.table-num {
  text-align: right;
  font-variant-numeric: tabular-nums;
}

.table-center {
  text-align: center;
}

a.footnote-ref {
  color: var(--color-primary);
  font-size: var(--step--1);
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}

a.footnote-ref:hover {
  color: var(--color-alt1);
}

.footnote {
  margin-top: var(--space-l);
  color: oklch(from var(--color-neutral-95) 50% c h);
  font-style: italic;
  max-width: 60ch;
}

.footnote > hr {
  border-left-style: unset;
  border-right-style: unset;
  border-bottom-style: unset;
  border-top: 1px solid oklch(from var(--color-neutral-95) 90% c h);
}

.footnote li::marker {
  color: var(--color-primary);
  font-size: var(--step--1);
  font-weight: bold;
  font-style: italic;
}

a.footnote-backref {
  text-decoration: none;
}

a.footnote-backref:hover {
  color: var(--color-alt1);
}

ul.archive-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-block-start: var(--space-m);
}

li.archive-list__entry {
  line-height: 1.3;
  margin-top: .4em;
}

li.archive-list__entry.newgroup {
  margin-top: 2rem;
}

li.archive-list__entry.newgroup:first-of-type {
  margin-top: inherit;
}


a.archive-list__link {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.archive-list__date {
  display: inline-block;
  width: 11ch;

  flex-basis: 11ch;
  flex-grow: 0;
  flex-shrink: 0;

  font-variant-numeric: tabular-nums;
  font-size: var(--step--1);
  color: oklch(from var(--color-neutral-20) 50% c h);

}

.chart-title {
  max-width: unset;
  font-size: var(--step-0);
}

p.annotation {
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--step--1);
  color: oklch(from var(--color-neutral-95) 60% c h);
}
p.annotation:first-of-type {
  margin-top: calc(var(--space-s) / 4);
}
p.annotation:last-of-type {
  margin-bottom: var(--space-s);
}

.label text {
  fill: oklch(from var(--color-neutral-95) 40% c h);
  font-size: var(--step--1);
  font-weight: bold;
}

rect:not([fill]) {
  fill: var(--color-alt1);
}
.axis .tick text {
  fill: oklch(from var(--color-neutral-95) 60% c h);
  font-size: var(--step--1);

}
.axis .tick line {
  stroke: oklch(from var(--color-neutral-95) 80% c h);
}

text.x-axis {
  fill: oklch(from var(--color-neutral-95) 60% c h);
  font-size: var(--step--1);
  text-anchor: middle;
}

rect.orange {
  fill: var(--color-alt1);
}

rect.green {
  fill: oklch(from var(--color-alt1) l c 145);
}

.chart-subtitle > span {
  font-weight: normal;
  color: oklch(from var(--color-neutral-95) 50% c h);

}

.keys-values {
  margin-top: 0;
}

.keys-values > dt {
  font-size: var(--step--1);
  text-transform: uppercase;
  /* color: oklch(from var(--color-neutral-95) 65% c h); */
  color: var(--color-primary);
  font-weight: bold;
}

.keys-values > dd {
  margin-inline-start: 0;
}


.symbol-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  column-gap: var(--space-xs);
}

.symbol {
  position: relative;
  top: 4px;
}

.fill-primary {
  fill: var(--color-primary);
}
.fill-white {
  fill: var(--color-neutral-95);
}
.fill-neutral {
  fill: oklch(from var(--color-neutral-95) 70% c h);
}




