.archive-list {
    list-style-type: none;
    margin-inline: 0;
    padding-inline: 0;
    margin-block-end: var(--space-l);
}

.newgroup {
    margin-block-start: 1lh;
}
.newgroup:first-child {
    margin-block-start: 0;
}

.archive-date {
    color: var(--color-text-muted);
    font-size: var(--step--1);
    font-family: var(--f-mono);
    padding-inline-end: 1ch;
}

/*
<ul class="archive-list">
{% for e in entries %}
<li><a class="plain" href="{{ e.get_absolute_url}}"><span class="archive-date">{{ e.published_at|date:"Y M d" }}</span> {{ e.title }}</a></li>
{% endfor %}
</ul>
*/
