:root {
  /* Type families */
  --f-serif: heliotrope, Palatino, Georgia, Times, "Times New Roman", serif;
  --f-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --f-mono: "SF Mono", Consolas, monaco, monospace;

  /* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1240,24,1.25,5,1,&s=0.75,1.5|2|3|4,s-2xl&g=s,l,xl,12 */

  --step--1: clamp(0.8rem, 0.6609rem + 0.6957vw, 1.2rem);
  --step-0: clamp(1rem, 0.8261rem + 0.8696vw, 1.5rem);
  --step-1: clamp(1.25rem, 1.0326rem + 1.087vw, 1.875rem);
  --step-2: clamp(1.5625rem, 1.2908rem + 1.3587vw, 2.3438rem);
  --step-3: clamp(1.9531rem, 1.6135rem + 1.6984vw, 2.9297rem);
  --step-4: clamp(2.4414rem, 2.0168rem + 2.123vw, 3.6621rem);
  --step-5: clamp(3.0518rem, 2.521rem + 2.6537vw, 4.5776rem);

  /* @link https://utopia.fyi/space/calculator?c=320,16,1.25,1240,24,1.25,5,1,&s=0.75,1.5|2|3|4,s-2xl&g=s,l,xl,12 */

  --space-xs: clamp(0.75rem, 0.6196rem + 0.6522vw, 1.125rem);
  --space-s: clamp(1rem, 0.8261rem + 0.8696vw, 1.5rem);
  --space-m: clamp(1.5rem, 1.2391rem + 1.3043vw, 2.25rem);
  --space-l: clamp(2rem, 1.6522rem + 1.7391vw, 3rem);
  --space-xl: clamp(3rem, 2.4783rem + 2.6087vw, 4.5rem);
  --space-2xl: clamp(4rem, 3.3043rem + 3.4783vw, 6rem);

  /* One-up pairs */
  --space-xs-s: clamp(0.75rem, 0.4891rem + 1.3043vw, 1.5rem);
  --space-s-m: clamp(1rem, 0.5652rem + 2.1739vw, 2.25rem);
  --space-m-l: clamp(1.5rem, 0.9783rem + 2.6087vw, 3rem);
  --space-l-xl: clamp(2rem, 1.1304rem + 4.3478vw, 4.5rem);
  --space-xl-2xl: clamp(3rem, 1.9565rem + 5.2174vw, 6rem);

  /* Custom pairs */
  --space-xs-xl: clamp(0.75rem, -0.5543rem + 6.5217vw, 4.5rem);
  --space-s-2xl: clamp(1rem, -0.7391rem + 8.6957vw, 6rem);

  /* Base Colors */
  --color-primary: oklch(45% 0.1 240);
  --color-alt: oklch(55% 0.1 60);
  --color-gray: oklch( 50% .002 240 );

  /* Semantic colors */
  --color-bg-00: oklch( from var(--color-gray) 99% c h);
  --color-bg-01: oklch( from var(--color-gray) 96% c h);
  --color-bg-02: oklch( from var(--color-gray) 93% c h);

  --color-text: oklch( from var(--color-gray) 3% c h);
  --color-text-muted: oklch( from var(--color-gray) 65% c h);
  --color-text-link: var(--color-primary);
  --color-text-link-alt: var(--color-alt);
  --color-text-code: oklch(50% 0.15 1);

}
/* TODO: update variables for dark mode */

/* Core layout */
body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    min-height: 100vh;

    font-family: var(--f-sans);
    font-size: var(--step-0);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    color: var(--color-text);
    background-color: var(--color-bg-01);
}

main, .main {
    flex-grow: 1;
}


a {
    text-underline-offset: .15em;
    text-decoration-skip-ink: auto;
    color: var(--color-text-link);
    transition: color .2s ease-in-out;
}
a:visited {
    color: oklch(from var(--color-text-link) 30% c 300);
}
a:hover {
    color: var(--color-text-link-alt);
}
.plain,
.plain:visited {
    text-decoration: none;
    color: inherit;
}
.plain:hover {
    text-decoration: underline;
}

h1, .h1 {
  font-size: var(--step-3);
  font-weight: 800;
}

h2, .h2 {
  font-size: var(--step-2);
  font-weight: bold;
}

h3, h4, h5, h6 ,
.h3 .h4, .h5, .h6 {
  font-size: var(--step-0);
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  margin-block-start: 1lh;
  margin-block-end: 0;
}

small, .small {
  font-size: .8em;
}

abbr:hover {
    cursor: help;
}

code {
    font-size: .8em;
    font-family: var(--f-mono);
    color: var(--color-text-code);
    background-color: var(--color-bg-01);
    padding-inline: .5ch;
    border-radius: 3px;
}

pre {
  font-family: inherit;
  background: unset;
  padding: unset;
  border-radius: unset;
}

pre:has(code) {
  background-color: var(--color-bg-01);
  padding: var(--space-xs) var(--space-s);
  border-radius: var(--space-xs);
  overflow-x: auto;
  overflow-y: visible;
}

pre > code {
    padding-inline: 0;
}

hr {
  display: block;
  box-sizing: content-box;
  margin-block-start: var(--space-m);
  margin-block-end: var(--space-m);
  height: 1px;
  width: 100%;
  border-style: unset;
  background: var(--color-text-muted);
}

ol, ul {
    padding-inline-start: var(--space-m);
}

ol > li::marker {
    font-size: .8em;
    font-family: var(--f-sans);
    font-weight: bold;
    color: var(--color-text-muted);
}
ul > li::marker {
    color: var(--color-text-muted);
}

figure {
    margin-inline: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: var(--f-sans);
    font-variant-numeric: tabular-nums;
}
