article {
    margin-block-start: var(--space-l);
    margin-block-end: var(--space-2xl);
    padding: var(--space-s-2xl);

    background: var(--color-bg-00);
    box-shadow: 0 0 5px var(--color-bg-02);

    font-family: var(--f-serif);
}


hgroup {
    margin-block-start: 0;
    margin-block-end: 1rlh;
}

hgroup > * {
    margin-block-start: 0;
    margin-block-end: 1rlh;
}

.meta {
    color: var(--color-text-muted);
    font-family: var(--f-sans);
    font-size: var(--step--1);
}

a.footnote-ref {
    font-family: var(--f-sans);
    text-decoration: none;
    background-color: var(--color-bg-01);
    font-size: calc(var(--step--1) * .8);
    font-weight: bold;
    padding-inline: .5ch;
    border-radius: .5lh;
}

.footnote {
    margin-block-start: var(--space-2xl);
    font-family: var(--f-sans);
    font-size: var(--step--1);
}

div.short-post {
    margin-block-start: var(--space-l);
    margin-block-end: var(--space-2xl);
    border: 1px solid oklch( from var(--color-gray) 85% c h);
    background: var(--color-bg-00);
    box-shadow: 0 0 5px var(--color-bg-02);

    border-radius: var(--space-xs);
}
.short-post-body {
    padding-block: var(--space-s) 0;
    padding-inline: var(--space-m);

}
.short-post-body > :first-child {
    margin-block-start: 0;
}
.short-post-meta {
    margin-block-start: var(--space-m);
    padding-inline: var(--space-m);
    font-size: var(--step--1);
    border-radius: 0 0 var(--space-xs) var(--space-xs);

}
