figure {
    margin-inline: 0;
    margin-block: 1lh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--f-sans);
}

figure > :first-child {
    margin-block-start: 0;
    border-radius: 4px;
}
figure.border > :first-child {
    padding: var(--space-xs);
    border: 1px solid var(--color-text-muted);
}
figcaption {
    width: 100%;
    margin-top: 1lh;
    font-size: var(--step--1);
    color: var(--color-text-muted);
    line-height: 1.5;
}



th, td {
    text-align: left;
    line-height: 1.1;
    padding-block: .2lh;
}
.table-num {
    text-align: right;
}

thead th {
    border-bottom: 2px solid var(--color-text-muted);
}
tbody td,
tbody th {
    border-bottom: 1px solid var(--color-bg-02);
}


svg rect {
    fill: var(--color-primary);
}
