@font-face {
font-family: heliotrope;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('https://static.curtmerrill.com/fonts/heliotrope_ot_3_book.woff2') format('woff2');
}

@font-face {
font-family: heliotrope;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('https://static.curtmerrill.com/fonts/heliotrope_ot_3_book_italic.woff2') format('woff2');
}


@font-face {
font-family: heliotrope;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('https://static.curtmerrill.com/fonts/heliotrope_ot_6_semibold.woff2') format('woff2');
}

@font-face {
font-family: heliotrope;
font-style: italic;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('https://static.curtmerrill.com/fonts/heliotrope_ot_6_semibold_italic.woff2') format('woff2');
}

@font-face {
font-family: heliotrope;
font-style: normal;
font-weight: 800;
font-stretch: normal;
font-display: auto;
src: url('https://static.curtmerrill.com/fonts/heliotrope_ot_8_black.woff2') format('woff2');
}

@font-face {
font-family: heliotrope;
font-style: italic;
font-weight: 800;
font-stretch: normal;
font-display: auto;
src: url('https://static.curtmerrill.com/fonts/heliotrope_ot_8_black_italic.woff2') format('woff2');
}
