label {
    font-size: var(--step--1);
    color: var(--color-text-muted);
    line-height: 1.2;
}

input, textarea {
    font-size: var(--step--1);
}

textarea.resize {
    field-sizing: content;
}
.field-block {
    margin-block: var(--space-s);
}

.field-block > * {
    display: block;
    width: 100%;
}

