.container {
    width: 86vw;
    max-width: 1032px;
    margin-inline: auto;
}

.narrow {
    max-width: 792px;
}

.bar {
    background-color: var(--bar-bg);
    margin-block: 0;
    padding-block: var(--space-xs);
    line-height: 1;
}
.bar > container {
    display: flex;
    flex-direction: row;
    column-gap: var(--space-xs);
    align-items: flex-start;
}

.halves {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--space-s);
    container-type: inline-size;
}
.half {
    grid-column: auto / span 2;
}

.thirds {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--space-s);
    container-type: inline-size;
}
.thirds > * {
    grid-column: auto / span 3;
}
@container (width > 550px) {
    .half {
        grid-column: auto / span 1;
    }
    .one-third {
        grid-column: auto / span 1;
    }
    .two-thirds {
        grid-column: auto / span 2;
    }

}
