ul.archive-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-block-start: var(--space-m);
}

li.archive-list__entry {
  line-height: 1.3;
  margin-top: .4em;
}

li.archive-list__entry.newgroup {
  margin-top: 2rem;
}

li.archive-list__entry.newgroup:first-of-type {
  margin-top: inherit;
}


a.archive-list__link {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.archive-list__date {
  display: inline-block;
  width: 11ch;

  flex-basis: 11ch;
  flex-grow: 0;
  flex-shrink: 0;

  font-variant-numeric: tabular-nums;
  font-size: var(--step--1);
  color: oklch(from var(--color-neutral-20) 50% c h);

}
