.blog-post {
  margin-block-start: var(--space-2xl);
}

.blog-post > header {
  margin-block-start: 0;
  margin-block-end: var(--space-m-l);
}

.post-title {
  margin-block-start: var(--space-s);
}

.post-meta {
  margin-block-start: 0;

  color: oklch(from var(--color-neutral-20) 60% c h);

  display: flex;
  flex-direction: row;
  column-gap: var(--space-s-m);

}

.tag {
  background-color: oklch(from var(--color-neutral-95) 90% c h);
  color: oklch(from var(--color-neutral-20) 50% c h);
  border-radius: 5px;
  padding: 0 .75ch;
  text-decoration: none;
  font-size: var(--step--1);
  line-height: calc(var(--step-0) * 1.4);
}

.tag:hover {
  text-decoration: underline;
  color: unset;
}

.blog-post > hr {
  margin-block-start: var(--space-m);
  margin-block-end: var(--space-m);

  border-style: unset;
}

