.chart-title {
  max-width: unset;
  font-size: var(--step-0);
}

.axis text {
  fill: oklch(from var(--color-neutral-95) 40% c h);
  font-size: var(--step--1);
  font-weight: bold;
}

rect {
  fill: var(--color-alt1);
}
