a.footnote-ref {
  color: var(--color-primary);
  font-size: var(--step--1);
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}

a.footnote-ref:hover {
  color: var(--color-alt1);
}

.footnote {
  margin-top: var(--space-l);
  color: oklch(from var(--color-neutral-95) 50% c h);
  font-style: italic;
  max-width: 60ch;
}

.footnote > hr {
  border-left-style: unset;
  border-right-style: unset;
  border-bottom-style: unset;
  border-top: 1px solid oklch(from var(--color-neutral-95) 90% c h);
}

.footnote li::marker {
  color: var(--color-primary);
  font-size: var(--step--1);
  font-weight: bold;
  font-style: italic;
}

a.footnote-backref {
  text-decoration: none;
}

a.footnote-backref:hover {
  color: var(--color-alt1);
}
