.keys-values {
  margin-top: 0;
}

.keys-values > dt {
  font-size: var(--step--1);
  text-transform: uppercase;
  /* color: oklch(from var(--color-neutral-95) 65% c h); */
  color: var(--color-primary);
  font-weight: bold;
}

.keys-values > dd {
  margin-inline-start: 0;
}


.symbol-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  column-gap: var(--space-xs);
}

.symbol {
  position: relative;
  top: 4px;
}
