table {
  border-collapse: collapse;
}

td, th {
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
}

thead tr {
  border-bottom: 1px solid oklch(from var(--color-neutral-95) 60% c h);
  background-color: oklch(from var(--color-neutral-95) 90% c h);
}

tr:nth-child(even) {
  background-color: oklch(from var(--color-neutral-95) 97% c h);
}

tfoot tr {
  border-top: 1px solid oklch(from var(--color-neutral-95) 60% c h);
  background-color: oklch(from var(--color-neutral-95) 90% c h);
}

.table-num {
  text-align: right;
  font-variant-numeric: tabular-nums;
}

.table-center {
  text-align: center;
}
