.container {
  padding-inline-start: var(--space-s-2xl);
  padding-inline-end: var(--space-s-2xl);
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

a.plain { text-decoration: none; color: inherit; }

.light {
  color: oklch(from var(--color-neutral-95) 50% c h);
}

.sr-only {
  /* via Bootstrap: https://getbootstrap.com/docs/5.3/helpers/visually-hidden/ */
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
