/* Sources and inspiration:
   https://piccalil.li/blog/a-more-modern-css-reset/
   https://www.youtube.com/watch?v=5uhIiI9Ld5M
   https://kelpui.com
   https://picocss.com
*/
@import './css/font-face.css';
@import './css/normalize.css';
@import './css/base.css';
@import './css/layouts.css';
@import './css/header-footer.css';
@import './css/blog-post.css';
@import './css/figure.css';
@import './css/archive-list.css';
@import './css/forms.css';
